[submodule "static/vendor/leaflet.gesturehandling"]
	path = static/vendor/leaflet.gesturehandling
	url = https://github.com/elmarquis/Leaflet.GestureHandling.git
[submodule "static/vendor/leaflet"]
	path = static/vendor/leaflet
	url = https://github.com/Leaflet/Leaflet.git
