:root {
	--wiki-red: #990000;
	--wiki-green: #339966;
	--wiki-blue: #006699;
}

/** WMCZ Calendar CSS */

.block-wmcz-calendar {
    white-space: nowrap;
}

.block-wmcz-calendar h2 {
    display: inline;
    margin-right: 20pt;
}

.wmcz-calendar-controls {
    display: inline-flex;
    padding-bottom: 10px;
    margin: 0;
}

.wmcz-calendar-controls > button {
    cursor: pointer;
}

.wmcz-calendar-set {
    margin-top: 20pt;
}

.wmcz-calendar-set.wp-block-columns .wp-block-column {
    margin-left: 0pt;
}

.event-container {
    background-color: #fcfcfc;
    margin: 0pt 10pt 10pt 0;
    transition: 100ms ease-in;
}

.event-container:hover {
    background-color: #F3F3F3;
    cursor: pointer;
}

@media (min-width: 760px) {
    .event-container {
        display: flex;
        height: 40px;
    }
}

.event-datetime, .event-location, .event-title {
    display: inline-block;
    padding: 5pt;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-datetime {
    background-color: var(--wiki-grey);
    color: white;
    text-align: center;
    min-width: 90pt;
    height: 30pt;
}
.event-location {
    margin-left: 10pt;
    width: 75pt;
    font-weight: bold;
}


/** WMCZ Caurosel CSS */
.wmcz-caurosel-container {
    height: 350pt;
}

.wmcz-caurosel-container .gallery-entry {
    width: 100%;
    height: 350pt;
}


@media (max-width: 760px) {
    .wmcz-caurosel-container {
        height: 700px;
    }

    .wmcz-caurosel-container .gallery-entry {
        width: 100%;
        height: 700px;
    }

    .wmcz-caurosel-right-colored {
        height: 100%;
    }

    .wmcz-caurosel-left {
	    height: 40%;
    }
}

@media (min-width: 760px) {
    .wmcz-caurosel-container {
        margin: 0 30pt;
    }
    .wmcz-caurosel-container .gallery-entry {
        display: flex;
    }
    .wmcz-caurosel-left,
    .wmcz-caurosel-right,
    .wmcz-caurosel-right-colored {
        width: 50%;
    }
}

.wmcz-caurosel-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.wmcz-caurosel-right-colored {
    background-color: #F3F3F3;
    padding: 40px;
}

/** WMCZ map */
.wmcz-map {
    height: 450px;
}
.wmcz-map-data {
    display: none;
}

/** WMCZ latest posts **/
.wmcz-latest-posts > li img {
    display: block;
    padding-bottom: 10px;
}

/** WMCZ list of events **/
.wmcz-event {
    display: flex;
}
.wmcz-event > div {
    padding-right: 10px;
}

/** WMCZ modals **/
.wmcz-modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.1); /* Black w/ opacity */
}
.wmcz-modal-active {
    display: flex;
}
.wmcz-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
    max-height: 70%;
    overflow: auto;
    box-shadow: 0pt 0pt 20pt rgba(0,0,0,0.2);
}

.wmcz-modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.wmcz-modal-close:hover, .wmcz-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/** WMCZ Events List **/

.wmcz-events-list-controls label[for="cities"], .wmcz-events-list-controls label[for="programs"], .wmcz-events-by-date label {
    font-weight: bold;
    padding-right: 10px;
}

.wmcz-events-list-controls .wmcz-events-headline {
    display: block;
    padding-bottom: 20px;
}

.wmcz-events-filtering {
    padding-bottom: 15px;
}

.wmcz-events-by-program {
    margin: 10pt 0;
}

.wmcz-events-tag-span {
    padding: 10pt 0;
    margin-right: 16px;
}

.wmcz-events-tag-span label {
    padding-right: 10pt;
}

@media (min-width: 760px) {
    .wmcz-events-list-events {
        display: grid;
        grid-template-columns: 45% 45%;
    }
}

.wmcz-events-list-event-name, .wmcz-events-list-event-time {
    padding: 5pt 10pt;
}

.wmcz-events-list-event {
    margin-top: 15px;
    margin-right: 15px;
    padding: 45px 35px;
    background-color: var(--wiki-lightgrey);
}

.wmcz-events-list-event-name {
    background-color: var(--wiki-grey);
    color: white;
    font-weight: bold;
    display: inline-block;
}

.wmcz-events-list-event-time {
    display: inline-block;
    font-weight: bold;
    background-color: white;
}

.wmcz-events-list-events > div.wmcz-events-list-event-description {
    padding: 20px 0 40px 0;
}
